/* mostly Root styles */
.root-text, h2 {
    text-align: center;
    margin-bottom: 0.75rem;
}
.root-text span {
    font-weight: bold;
}
.root-node {
    padding: 0.75rem;
    text-align: center;
}
#create-root {
    bottom: 24px;
    padding: 8px 40px;
    max-width: max-content;
    margin-inline: auto;
}
.root-delete {
    float: right;
    margin: -2px 2px;
}
.root-link {
    color: var(--color2);
    color: inherit;
    padding: 0.75rem;
    animation: blink 1.5s 0.5s ease-in-out  infinite;
}
.root-link:hover {
    color: var(--color1);
    background-color: var(--color3);
}
@keyframes blink {
    50% {
        text-shadow: 0 0 18px var(--color2);
    }
}
