* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    padding: 12px;
    overflow: hidden;
}
main {
    background: #000;
    color: #FFF;
    width: 1fr;
    overflow: auto;
    padding: 20px;
}
#screen {
    background-color: #369;
    width: 1fr;
    min-height: 300px;
}
#entry {
    background-color: #246;
    padding: 4px;
} 