/* mostly parent styles */
.parent-node {
    padding: 0.75rem;
    text-align: center;
    position: relative;
}
#create-parent {
    bottom: 24px;
    padding: 8px 40px;
    max-width: max-content;
    margin-inline: auto;
}
.parent-delete {
    position: absolute;
    top: 8px;
    right: 0;
}
.parent-link {
    color: var(--color2);
    color: inherit;
    padding: 0.75rem;
    animation: blink 1.5s 0.5s ease-in-out  infinite;
}
.parent-link:hover {
    color: var(--color1);
    background-color: var(--color3);
}
@keyframes blink {
    50% {
        text-shadow: 0 0 18px var(--color2);
    }
}
